In [1]:
import os
import pandas as pd
import numpy as np
import datapane as dp
import sys
sys.path.append(os.path.abspath("C:\\Users\\Anirudh_Naik\\OneDrive - Dell Technologies"))

In [3]:
# Get the file path
fp = os.getcwd()
fn = "9244_norbert_data.csv"
datafile = "\\".join([fp,fn])

'D:\\PROJECTS\\ADHOC\\9244_Norbert_Mobo_reduction_initiative_\\9244_norbert_data.csv'

In [4]:
# open file and add data to dataframe
# with open(datafile, 'r') as 

df = pd.read_csv(datafile)
type(df)

pandas.core.frame.DataFrame

In [6]:
df.shape

(76699, 92)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76699 entries, 0 to 76698
Data columns (total 92 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   case_fiscal_week           76699 non-null  object
 1   case_week_lag              76699 non-null  int64
 2   case_fiscal_quarter        76699 non-null  object
 3   case_quarter_lag           76699 non-null  int64
 4   case_fiscal_year           76699 non-null  object
 5   case_year_lag              76699 non-null  int64
 6   fiscal_week                36967 non-null  object
 7   week_lag                   36967 non-null  float64
 8   fiscal_quarter             36967 non-null  object
 9   quarter_lag                36967 non-null  float64
 10  fiscal_year                36967 non-null  object
 11  year_lag                   36967 non-null  float64
 12  wo_crt_utc_dts             36967 non-null  object
 13  customer_region            23197 non-null  object
 14  customer_subregion         36967 non-null  object
 15  area_name                  36967 non-null  object
 16  country                    36967 non-null  object
 17  c_cust_region              52124 non-null  object
 18  c_country                  76699 non-null  object
 19  global_grouping            36967 non-null  object
 20  global_product             36967 non-null  object
 21  global_lob                 36967 non-null  object
 22  global_brand               36967 non-null  object
 23  global_generation          0 non-null      float64
 24  product_group              36967 non-null  object
 25  product_family             36967 non-null  object
 26  crt_assoc_full_nm          36960 non-null  object
 27  crt_manager_first          31915 non-null  object
 28  crt_manager_second         31915 non-null  object
 29  crt_bus_rptg_dept_nm       36960 non-null  object
 30  crt_robotic_user           36960 non-null  float64
 31  crt_bus_rptg_rgn_nm        28929 non-null  object
 32  crt_bus_rptg_subrgn_nm     36960 non-null  object
 33  crt_manager_l5             31915 non-null  object
 34  appr_assoc_full_nm         34168 non-null  object
 35  appr_manager_first         29258 non-null  object
 36  appr_manager_second        29248 non-null  object
 37  appr_bus_rptg_dept_nm      34168 non-null  object
 38  appr_robotic_user          34168 non-null  float64
 39  appr_bus_rptg_rgn_nm       26458 non-null  object
 40  appr_bus_rptg_subrgn_nm    34168 non-null  object
 41  appr_manager_l5            29258 non-null  object
 42  mdr_not_auto_approved      36967 non-null  float64
 43  mdr_no_review              36967 non-null  float64
 44  approval_criteria_met      4113 non-null   object
 45  approval_reason            27410 non-null  object
 46  approval_status            27410 non-null  object
 47  wo_nbr                     36967 non-null  float64
 48  dps_type                   35600 non-null  object
 49  call_type                  9382 non-null   object
 50  wo_type                    36952 non-null  object
 51  svc_type                   36801 non-null  object
 52  svc_opt                    36814 non-null  object
 53  svc_opt_hrs                36814 non-null  object
 54  wo_status                  36967 non-null  object
 55  create_process             0 non-null      float64
 56  case_status                76699 non-null  object
 57  case_channel               76699 non-null  object
 58  origin_name                76699 non-null  object
 59  case_nbr                   76699 non-null  int64
 60  acct_nm                    76211 non-null  object
 61  kcs_attached_flg           34226 non-null  object
 62  kcs_solved_flg             13463 non-null  object
 63  guided_flow_flg            10077 non-null  object
 64  mb_outlier                 3208 non-null   object
 65  mmpd_outlier               1006 non-null   object
 66  outlier_flg                4214 non-null   object
 67  mdr_not_reviewed_agent     76699 non-null  int64
 68  no_review_criteria_count   4214 non-null   float64
 69  criteria_met_dri           355 non-null    float64
 70  criteria_met_mri           134 non-null    float64
 71  case_created_count         76699 non-null  float64
 72  case_complete_count_owner  56450 non-null  float64
 73  kcs_attached_count         34226 non-null  float64
 74  kcs_solved_count           34226 non-null  float64
 75  guided_flow_count          10629 non-null  float64
 76  dial_home_flg              76699 non-null  float64
 77  wo_count                   36967 non-null  float64
 78  rpa_wo_count               36967 non-null  float64
 79  bulk_flg                   34638 non-null  float64
 80  rd_num                     34629 non-null  float64
 81  rd_den                     34629 non-null  float64
 82  rd_case_rd_qualify_denom   34629 non-null  float64
 83  mdr_count                  34638 non-null  float64
 84  mmpd_count                 32586 non-null  float64
 85  mmpd_flg                   32586 non-null  float64
 86  mb_prt_count_num           32586 non-null  float64
 87  mb_prt_flg_den             32586 non-null  float64
 88  mpd_num                    32586 non-null  float64
 89  mpd_denom                  32586 non-null  float64
 90  ppd_num_p_qty              32586 non-null  float64
 91  ppd_denom_flg              32586 non-null  float64
dtypes: float64(34), int64(5), object(53)
memory usage: 53.8+ MB

In [13]:
df.head()

,case_fiscal_week,case_week_lag,case_fiscal_quarter,case_quarter_lag,case_fiscal_year,case_year_lag,fiscal_week,week_lag,fiscal_quarter,quarter_lag,...,rd_case_rd_qualify_denom,mdr_count,mmpd_count,mmpd_flg,mb_prt_count_num,mb_prt_flg_den,mpd_num,mpd_denom,ppd_num_p_qty,ppd_denom_flg
0,2024-W11,-3,2024-Q1,-1,2024-FY,0,2024-W12,-2.0,2024-Q1,-1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-W12,-2,2024-Q1,-1,2024-FY,0,2024-W12,-2.0,2024-Q1,-1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,1.0
2,2024-W12,-2,2024-Q1,-1,2024-FY,0,2024-W12,-2.0,2024-Q1,-1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,2024-W13,-1,2024-Q1,-1,2024-FY,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-W11,-3,2024-Q1,-1,2024-FY,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.describe()

,case_week_lag,case_quarter_lag,case_year_lag,week_lag,quarter_lag,year_lag,global_generation,crt_robotic_user,appr_robotic_user,mdr_not_auto_approved,...,rd_case_rd_qualify_denom,mdr_count,mmpd_count,mmpd_flg,mb_prt_count_num,mb_prt_flg_den,mpd_num,mpd_denom,ppd_num_p_qty,ppd_denom_flg
count,76699.000000,76699.000000,76699.0,36967.000000,36967.000000,36967.0,0.0,36960.0,34168.0,36967.000000,...,34629.000000,34638.000000,32586.000000,32586.000000,32586.000000,32586.000000,32586.000000,32586.000000,32586.000000,32586.000000
mean,-2.889255,-0.943128,0.0,-2.802283,-0.947575,0.0,NaN,0.0,0.0,0.161333,...,1.000231,1.000231,0.498895,0.187596,0.143467,0.141134,1.190389,0.879089,1.702326,1.000184
std,1.508057,0.231599,0.0,1.484048,0.222886,0.0,NaN,0.0,0.0,0.367843,...,0.016992,0.016990,1.462796,0.390709,0.369726,0.348430,1.289621,0.326405,2.081805,0.013568
min,-5.000000,-1.000000,0.0,-5.000000,-1.000000,0.0,NaN,0.0,0.0,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,-4.000000,-1.000000,0.0,-4.000000,-1.000000,0.0,NaN,0.0,0.0,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
50%,-3.000000,-1.000000,0.0,-3.000000,-1.000000,0.0,NaN,0.0,0.0,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,-2.000000,-1.000000,0.0,-2.000000,-1.000000,0.0,NaN,0.0,0.0,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.000000
max,0.000000,0.000000,0.0,0.000000,0.000000,0.0,NaN,0.0,0.0,1.000000,...,3.000000,3.000000,160.000000,2.000000,16.000000,2.000000,160.000000,2.000000,160.000000,2.000000

In [12]:
df['mdr_count'].value_counts()

1.0    34631
2.0        6
3.0        1
Name: mdr_count, dtype: int64

In [15]:
df.isnull().sum()/df.shape[0]

case_fiscal_week       0.000000
case_week_lag          0.000000
case_fiscal_quarter    0.000000
case_quarter_lag       0.000000
case_fiscal_year       0.000000
                         ...
mb_prt_flg_den         0.575144
mpd_num                0.575144
mpd_denom              0.575144
ppd_num_p_qty          0.575144
ppd_denom_flg          0.575144
Length: 92, dtype: float64

In [16]:
# get percentage values
for column in df.columns:
    if df[column].isnull().sum() >0:
        print(column, ': {:.2%}'.format(df[column].isnull().sum()/df[column].shape[0]))

fiscal_week : 51.80%
week_lag : 51.80%
fiscal_quarter : 51.80%
quarter_lag : 51.80%
fiscal_year : 51.80%
year_lag : 51.80%
wo_crt_utc_dts : 51.80%
customer_region : 69.76%
customer_subregion : 51.80%
area_name : 51.80%
country : 51.80%
c_cust_region : 32.04%
global_grouping : 51.80%
global_product : 51.80%
global_lob : 51.80%
global_brand : 51.80%
global_generation : 100.00%
product_group : 51.80%
product_family : 51.80%
crt_assoc_full_nm : 51.81%
crt_manager_first : 58.39%
crt_manager_second : 58.39%
crt_bus_rptg_dept_nm : 51.81%
crt_robotic_user : 51.81%
crt_bus_rptg_rgn_nm : 62.28%
crt_bus_rptg_subrgn_nm : 51.81%
crt_manager_l5 : 58.39%
appr_assoc_full_nm : 55.45%
appr_manager_first : 61.85%
appr_manager_second : 61.87%
appr_bus_rptg_dept_nm : 55.45%
appr_robotic_user : 55.45%
appr_bus_rptg_rgn_nm : 65.50%
appr_bus_rptg_subrgn_nm : 55.45%
appr_manager_l5 : 61.85%
mdr_not_auto_approved : 51.80%
mdr_no_review : 51.80%
approval_criteria_met : 94.64%
approval_reason : 64.26%
approval_status : 64.26%
wo_nbr : 51.80%
dps_type : 53.58%
call_type : 87.77%
wo_type : 51.82%
svc_type : 52.02%
svc_opt : 52.00%
svc_opt_hrs : 52.00%
wo_status : 51.80%
create_process : 100.00%
acct_nm : 0.64%
kcs_attached_flg : 55.38%
kcs_solved_flg : 82.45%
guided_flow_flg : 86.86%
mb_outlier : 95.82%
mmpd_outlier : 98.69%
outlier_flg : 94.51%
no_review_criteria_count : 94.51%
criteria_met_dri : 99.54%
criteria_met_mri : 99.83%
case_complete_count_owner : 26.40%
kcs_attached_count : 55.38%
kcs_solved_count : 55.38%
guided_flow_count : 86.14%
wo_count : 51.80%
rpa_wo_count : 51.80%
bulk_flg : 54.84%
rd_num : 54.85%
rd_den : 54.85%
rd_case_rd_qualify_denom : 54.85%
mdr_count : 54.84%
mmpd_count : 57.51%
mmpd_flg : 57.51%
mb_prt_count_num : 57.51%
mb_prt_flg_den : 57.51%
mpd_num : 57.51%
mpd_denom : 57.51%
ppd_num_p_qty : 57.51%
ppd_denom_flg : 57.51%

In [17]:
week_group = df.groupby(['fiscal_week', 'global_grouping'], aggfunc={'mdr_count':np.sum})

TypeError: groupby() got an unexpected keyword argument 'aggfunc'